@{
    ViewBag.Title = "Kansler";
}

<div class="jumbotron">
    <div class="container">
        <h1>Kansler</h1>
        <div class="divider"></div>
        <p>Goods for office and home</p>
    </div>
</div>

<section class="for-you">
    <div class="container">
        <h2>For you</h2>
        <div class="divider"></div>
        <div class="categories">
            <div class="row category">
                <div class="category-circle">
                    <i class="fas fa-archive"></i>
                </div>
                <a href="#">Sample Category</a>
            </div>

            <div class="row category">
                <div class="category-circle">
                    <i class="fas fa-archive"></i>
                </div>
                <a href="#">Sample Category</a>
            </div>

            <div class="row category">
                <div class="category-circle">
                    <i class="fas fa-archive"></i>
                </div>
                <a href="#">Sample Category</a>
            </div>

            <div class="row category">
                <div class="category-circle">
                    <i class="fas fa-archive"></i>
                </div>
                <a href="#">Sample Category</a>
            </div>

            <div class="row category">
                <div class="category-circle">
                    <i class="fas fa-archive"></i>
                </div>
                <a href="#">Sample Category</a>
            </div>

            <div class="row category">
                <div class="category-circle">
                    <i class="fas fa-archive"></i>
                </div>
                <a href="#">Sample Category</a>
            </div>
        </div>
        <div class="btn btn-default">
            @Html.ActionLink("Browse All", "Products", "Home", new { area = "" }, new { @class = "btn-info" })
        </div>
    </div>
</section>

@*<section class="register-email">
    <h3>Be a Part of Our Family & Get Everything In Your E-mail Address</h3>
    <div class="input-group">
        <input type="email" name="Email" value="" title="Enter your e-mail..." class="input-lg" />
    </div>
</section>*@